<?xml version="1.0" encoding="##ENCODING##"?>
<package xmlns="http://pear.php.net/dtd/package-2.0" xmlns:tasks="http://pear.php.net/dtd/tasks-1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" packagerversion="1.4.1" version="2.0" xsi:schemaLocation="http://pear.php.net/dtd/tasks-1.0 http://pear.php.net/dtd/tasks-1.0.xsd http://pear.php.net/dtd/package-2.0 http://pear.php.net/dtd/package-2.0.xsd">
  <name>sfMelodyPlugin</name>
  <channel>plugins.symfony-project.org</channel>
  <summary>
    An easy way to connect to facebook, google, yahoo...
  </summary>
  <description>
    The sfMelody plugin provides an easy way to connect to facebook, google, yahoo... through OAuth authentification.
  </description>
  <lead>
    <name>Maxime Picaud</name>
    <user>chok</user>
    <email>maxime.picaud@agence-shape.fr</email>
    <active>yes</active>
  </lead>
  <date>##CURRENT_DATE##</date>
  <version>
    <release>##PLUGIN_VERSION##</release>
    <api>##API_VERSION##</api>
  </version>
  <stability>
    <release>##STABILITY##</release>
    <api>##STABILITY##</api>
  </stability>
  <license uri="http://www.symfony-project.org/license">MIT license</license>
  <notes>-</notes>
  <contents>
    ##CONTENTS##
  </contents>
  <dependencies>
    <required>
      <php>
        <min>5.2.4</min>
      </php>
      <pearinstaller>
        <min>1.4.1</min>
      </pearinstaller>
      <package>
        <name>symfony</name>
        <channel>pear.symfony-project.com</channel>
        <min>1.3.0</min>
        <max>1.5.0</max>
        <exclude>1.5.0</exclude>
      </package>
    </required>
  </dependencies>
  <phprelease></phprelease>
  <changelog>
    <release>
     <version>
      <release>1.0.2</release>
      <api>1.0.2</api>
     </version>
     <stability>
      <release>stable</release>
      <api>stable</api>
     </stability>
     <license uri="http://www.symfony-project.com/license">MIT license</license>
     <license>MIT</license>
     <date>08-23-2010</date>
     <notes>* Correct summary</notes>
    </release>
    <release>
     <version>
      <release>1.0.1</release>
      <api>1.0.1</api>
     </version>
     <stability>
      <release>stable</release>
      <api>stable</api>
     </stability>
     <license uri="http://www.symfony-project.com/license">MIT license</license>
     <license>MIT</license>
     <date>08-23-2010</date>
     <notes>* Correct description</notes>
    </release>
    <release>
     <version>
      <release>1.0.0</release>
      <api>1.0.0</api>
     </version>
     <stability>
      <release>stable</release>
      <api>stable</api>
     </stability>
     <license uri="http://www.symfony-project.com/license">MIT license</license>
     <license>MIT</license>
     <date>08-23-2010</date>
     <notes>* First public release</notes>
    </release>
 </changelog>
</package>
